opencv-python
scenedetect[opencv]
ultralytics
torch
torchvision
tqdm
yt-dlp[default]
yt-dlp-ejs
faster-whisper
google-genai
python-dotenv
mediapipe==0.10.14

fastapi
uvicorn
python-multipart
httpx
redis>=5.0.0
